<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/fragments :: head}"></head>
<body>
	<!-- Header section containing the navigation bar -->
	<header th:insert="~{fragments/navbar :: navbar('tickets')}"></header>		
	<main class="container">
		<!-- Personal Info -->
		<div>
			<div class="card col-md-3 mt-4 mb-5" sec:authorize="hasAuthority('USER')">
			  <div class="card-header">
			    Agent: <span sec:authentication="name"></span>
			  </div>
			  <ul class="list-group list-group-flush">
			    <li class="list-group-item" >Available: <span th:text="${loggedUser.available}"></span>
					<!-- User status update form -->
					
					
					
					<form th:action="@{/tickets/updateBusy}" method="POST" class="d-flex" >
						<div class="mt-3 mb-3 d-flex col-7 mx-auto">
							<label for="busy" class="form-label"></label>
							<select name="busy" class="form-select-sm" id="busy">
								<option selected disabled>status</option>
								<option th:value="1" th:selected="${loggedUser.available == 'true'}">Free</option>
								<option th:value="0" th:selected="${loggedUser.available == 'false'}">Busy</option>
							</select>
							<button type="submit" class="btn btn-sm btn-primary ms-2">Update</button>
						</div>									
					</form>	
					
					
					
					
								
				</li>
				<li class="list-group-item">Email: <span th:text="${loggedUser.email}"></span></li>
			  </ul>
			</div>
		</div>
		<!-- Check if there are tickets available -->	
		<th:block th:if="${tickets.size() > 0}">
			<div class="row">
			    <!-- Search and action button column -->
			    <div class="col-md-6 d-flex align-items-center">
			        <form th:action="@{/tickets}" method="GET" class="w-100">
			            <div class="input-group">
			                <!-- Button to create a new ticket me-2(margin-end) -->
							<a href="/tickets/create" class="btn btn-md btn-warning me-2" sec:authorize="hasAuthority('ADMIN')">Launch a new ticket</a>
			                <!-- Search input for filtering tickets -->
			                <input name="search" type="text" class="form-control" placeholder="Type in the ticket name" th:value="${ticketSearch}">
			                <!-- Button to submit the search -->
			                <button class="btn btn-outline-dark" type="submit">Search</button>
			            </div>
			        </form>
			    </div>	
			    <!-- Title column -->
			    <div class="col-md-6 text-center">
			        <h2 class="py-5">LIST OF TICKETS</h2>
			    </div>
			</div>	
			<!-- Alert for notifications -->
			<th:block th:if="${messageAlert != null}">
				<div th:replace="~{fragments/fragments :: alert(${typeAlert}, ${messageAlert})}"></div>
			</th:block>
			<!-- Table displaying the list of tickets -->
			<table class="table table-striped table-hover text-center">
				<thead>
					<tr>
						<th>#</th>
						<th>State</th>
						<th>Title</th>
						<th>​Inform</th>
						<th>Description</th>
						<th>Agent</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<!-- Iterate over each ticket -->
					<tr th:each="ticket : ${tickets}">
						<td th:text="${ticket.id}"></td>
						<td th:text="${ticket.status}"></td>
						<td th:text="${ticket.title}"></td>
						<td>
							<span th:each="category : ${ticket.categories}" th:text="${category.name}"></span>
						</td>							
						<td th:text="${ticket.description}"></td>
						<td th:text="${ticket.user.username}"></td>
						<td>
							<!-- Buttons: Show, Edit, Note, Delete -->
							<a class="btn btn-sm btn-success" th:href="@{/tickets/{id}(id=${ticket.id})}">Show</a>	
							<a class="btn btn-sm btn-warning" th:href="@{/tickets/edit/{id}(id=${ticket.id})}" sec:authorize="hasAuthority('ADMIN')">Edit</a>	
							<a class="btn btn-sm btn-primary" th:href="@{/tickets/{id}/notes/create(id=${ticket.id})}">Note</a>	
							<th:block sec:authorize="hasAuthority('ADMIN')">
								<!-- Button trigger modal -->
								<button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" th:data-bs-target="'#delete-modal-' + ${ticket.id}">Delete</button>
								<!-- Modal for confirming ticket deletion -->
								<div class="modal fade" th:id="'delete-modal-' + ${ticket.id}" tabindex="-1" aria-labelledby="delete-modal" aria-hidden="true">
								  <div class="modal-dialog modal-dialog-centered">
								    <div class="modal-content">
								      <div class="modal-header">
										<!-- Title of the modal displaying the ticket title -->
								        <h1 class="modal-title fs-5" id="delete-modal">Deleting <strong>"[[${ticket.title}]]"</strong></h1>
								        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								      </div>
									  <!-- Confirmation message for deletion -->
								      <div class="modal-body">
								      	Are you sure you want to permanently delete <strong>"[[${ticket.title}]]"</strong> ticket? 
								      </div>											  
								      <div class="modal-footer">
										<!-- Button to close the modal -->
								        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
										<!-- Form for submitting the DELETE request -->							
										<form class="d-inline-block" th:action="@{/tickets/delete/{id}(id=${ticket.id})}" method="POST">
											<button type="submit" class="btn btn-sm btn-danger">Delete</button>											
										</form>
								      </div>
								    </div>
								  </div>
								</div>
							</th:block>							
						</td>										
					</tr>	
				</tbody>
			</table>	
		</th:block>
			<!-- Message displayed when no tickets are available -->
		<th:block th:unless="${tickets.size() > 0}">
			<h3 class="py-5 text-center">
				There are no tickets available at the moment...
			</h3>
		</th:block>	
	</main>
	<footer th:replace="~{fragments/fragments :: footer}"></footer>	
	<th:block th:replace="~{fragments/fragments :: scripts}"></th:block>
</body>
</html>



