<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/fragments :: head}"></head>
<body>
	<!-- Header section containing the navigation bar -->
	<header th:insert="~{fragments/navbar :: navbar('notes')}"></header>		
	<main class="container">			
		<!-- Check if there are notes available -->	
		<th:block th:if="${notes.size() > 0}">
			<div class="row">

			    <!-- Title column -->
			    <div class=" text-center">
			        <h2 class="py-5">LIST OF NOTES</h2>
			    </div>
			</div>				
			<!-- Table displaying the list of notes -->
			<table class="table table-striped table-hover text-center">
				<thead>
					<tr>
						<th>#</th>
						<th>Agent</th>
						<th>Ticket title</th>
						<th>Note Date</th>
						<th>Content</th>						
					</tr>
				</thead>
				<tbody>
					<!-- Iterate over each note -->
					<tr th:each="note : ${notes}">
						<td th:text="${note.id}"></td>
						<td th:text="${note.user.username}"></td>
						<td th:text="${note.ticket.title}"></td>
						<td th:text="${note.createdDate}"></td>
						<td th:text="${note.content}"></td>						
						<!-- <td>
							 Buttons: Show, Edit 
							<a class="btn btn-sm btn-success" th:href="@{/notes/{id}(id=${note.id})}">Show</a>	
							<a class="btn btn-sm btn-warning" th:href="@{/notes/edit/{id}(id=${note.id})}">Edit</a>													
						</td> -->			
					</tr>						
				</tbody>
			</table>	
		</th:block>
			<!-- Message displayed when no notes are available -->
		<th:block th:unless="${notes.size() > 0}">
			<h3 class="py-5 text-center">
				There are no notes available at the moment...
			</h3>
		</th:block>	
	</main>
	<footer th:replace="~{fragments/fragments :: footer}"></footer>	
	<th:block th:replace="~{fragments/fragments :: scripts}"></th:block>
</body>
</html>



